.container{
    margin: 3%;
}

.container-main-screen{
    display: flex;
    flex-direction: column;
}

.container-game-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.turn-container{
    display:flex;
    justify-content: space-around;
    margin: 1.5em;
}