h1{
    font-size: 3em;
    display: inline;
    text-align: center;
}

p, spam, h1{
    padding: 0.15em;
    color: white;
    font-family: var(--font-default);
}

.copyright{
    font-size: 0.8em;
    padding: 0;
    margin: 1em;
}

spam{
    font-size: 2em;
}

a{
    color: var(--light-blue);
    text-decoration: none;
}